table, th, td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    font-family: Arial;
    font-weight: 300;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

table {
    margin: 20px;
}

thead th {
    border-bottom: 1px solid black;
    font-weight: bold;
}

tfoot th, tfoot td {
    border-top: 1px solid black;
}

th, td {
    padding: 6px;
}

tbody tr:nth-child(2n+1) {
    background-color: hsl(180, 50%, 50%);
}

table#spanning {
    min-width: 600px;
    margin-left: 25%;
    margin-right: 25%;
}

#spanning td {
    width: 120px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
