@{
  ViewBag.Title = "Welkom";
}

<div class="jumbotron">
  <h1>SupportCenter</h1>
  <p class="lead">Welkom op het online helpdesk systeem.</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Nieuw ticket</h2>
    <p>Maak een nieuw ticket aan in het systeem.</p>
    <p><a class="btn btn-default" href="#">Nieuw ticket</a></p>
  </div>
  <div class="col-md-4">
    <h2>Alle tickets</h2>
    <p>Toont een lijst van alle bestaande tickets.</p>
    <p><a class="btn btn-default" href="#">Alle tickets</a></p>
  </div>
  <div class="col-md-4">
    <h2>Toon ticket</h2>
    <p>Geeft de details van één ticket.</p>
    <p><a class="btn btn-default" href="#">Toon ticket</a></p>
  </div>
</div>