/*
magentarood = #EA2E49;
lichtblauw = #77C4D3;
donkerblauw = #333745;

TODO: alle stijlbladen voor specifieke pagina's in een apart stijlblad doen
*/

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

/* Text and articles */

p {
    color: #333745;
    font-size: 23px;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
    list-style-type: circle;
    margin-bottom: 50px;
    margin-top: 50px;
}

article {
    box-sizing: border-box;
    width: 70%;
    margin: 0 15% 60px;
    text-align: center;
}

/* Blue text for highlighting */
span.lightblue {
    color: #77C4D3;
}

/* Headers */
h1, h2, h3 {
    font-family: 'Amaranth', sans-serif;
    margin-top: 60px;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-size: 50px;
    line-height: 70px;
    color: #77C4D3;
}

h3 {
    font-size: 40px;
    line-height: 50px;
    color: #EA2E49;
}

h4 {
    font-size: 22px;
    text-align: center;
    line-height: 18px;
    color: grey;
}

h5 {
    font-size: 18px;
    text-align: center;
    color: grey;
    line-height: 18px;
}

/* navbar */
nav ul {
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333745;
    list-style-type: none;
    z-index: 1;
}

/* navbar responsive */
@media screen and (max-width: 960px) {
    nav ul li.firstitem, nav ul li:nth-child(5) {
        margin: 0;
    }

    header nav ul li a {
        padding: 22px 10px;
    }
}

@media screen and (max-width: 700px) {
    nav {
        overflow: hidden;
    }

    nav ul {
        height: 52px;
        width: 100%;
    }

    header nav ul li:hover > ul, header nav ul li {
        display: none;
        float: none;
    }

    header nav ul li a {
        font-size: 15px;
        padding: 12px 0;
    }

    nav ul:hover > li {
        display: block
    }

    nav ul:hover .navlogo {
        display: none;
    }

    nav:hover > ul {
        height: auto;
    }

    nav li.navlogo, a.alogo {
        display: block;
        margin: 0;
        width: 100%;
        float: left;
    }

    nav li.navlogo img {
        float: left;
        margin-left: 20px;
        margin-top: 4px;
    }

    .alogo:after {
        margin: 15px 15px 0 0;
        float: right;
        vertical-align: center;
        content: "Menu";
        font-size: 16px;

    }
    .alogo:before {
        content: "";
        background: url(../images/icons/menu.png) no-repeat;
        width: 42px;
        height: 42px;
        float: right;
        margin: 9px 20px 0 0;
    }
}

nav ul li {
    float: left;
}

/* first nav item is moved to the center */
.firstitem {
    margin-left: 9%;
}

nav ul li a {
    display: block;
    color: #77C4D3;
    padding: 22px 25px;
    font-size: 18px;
}

nav ul li a.hoverable:hover, nav li a.active {
    background-color: #EA2E49;
    color: white;

}

li.navlogo, .alogo {
    float: right;
    margin-right: 9%;
    padding: 0;
    margin-top: 7px;
}

/* navbar dropdown menu */
/* display none at first */
nav ul ul {
    display: none;
    position: absolute;
    background-color: transparent;
}

/* reveals ul on hover */
nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 180px;
    float: none;
    position: relative;
    background-color: #333745;
    display: list-item;
}

nav ul li ul li a.hoverable {
    color: #77C4D3;
    font-size: 15px;
    text-align: left;
}

nav ul li ul li a.hoverable:hover {
    font-size: 15px;
    text-align: left;
    color: white;
    text-shadow: 0 1px 2px #2f2f2f;

}

/* main logos and banners */
/* banner on the homepage */
.indexbanner {
    background: url(../images/photos/party.jpg) no-repeat fixed center center;
    background-size: cover;
    min-height: 100%;
    height: 85vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
    transition-duration: 1s;
}

/* banner on the info page */
.infobanner {
    background: url(../images/photos/woman.jpg) no-repeat fixed center top;
    background-size: cover;
    min-height: 100%;
    height: 50vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}

/* banner on the tickets page */
.ticketsbanner {
    background: url(../images/photos/colorfestival.jpg) no-repeat fixed center bottom;
    background-size: cover;
    min-height: 100%;
    height: 85vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}

/* text inside the banners */
/* all text in the header is aligned center and has a shadow */
header {
    text-align: center;
    align-content: center;
    text-shadow: 0 1px 2px #2f2f2f;
    margin: auto;
}

header h1, header p {
    font-size: 140px;
    color: white;
}

/* logo on the index page */
.logo img {
    width: 20%;
    height: auto;
    margin: 50px 0 0 0;
}

header h1.intro {
    font-size: 60px;
    text-align: center;
    margin: 25px 15%;
}

header p.slogan {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 25px 0;
}

/* buttons */
.button {
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

.button1 {
    color: white;
    background-color: #EA2E49;
    border: 2px solid #EA2E49;
}

.button1:hover {
    background-color: white;
    border: 2px solid white;
    color: #EA2E49;
}

.button2 {
    margin-left: 100px;
    background-color: transparent;
    color: white;
    text-shadow: 0 1px 1px #4b4b4b;
    border: 2px solid #77C4D3;
}

.button2:hover {
    background-color: #77C4D3;
    color: white;
}

/* Form on ticket page*/
section.buytickets {
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 350px;
    margin: -500px auto 60px;
    background: rgba(255, 255, 255, .9);
}

form {
    margin: 60px 5%;
}

form ul li {
    list-style-type: none;
    padding-top: 10px;
}

form ul li.inline {
    display: inline-block;
    width: 49%;
}

form ul li label {
    display: block;

}

form ul li input, form ul li select {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.ticketbutton {
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    border: 1px solid lightgray;
    background-color: #EA2E49;
    color: white;
    padding: auto 0;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

form ul li label {
    width: auto;
}

/* links */
a:link, a:visited, a:hover, a:active {
    color: #77C4D3;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #EA2E49;
}

/* footer */
footer {
    background-color: #333745;
    padding: 60px 120px;
    height: auto;
    font-weight: 300;
    border-top: 40px solid #77C4D3;
}

footer h4 {
    text-align: left;
    color: #EA2E49;
    padding-top: 25px;
}

.footercolumns {
}

footer div.column {
    width: 30%;
    min-width: 200px;
    padding-right: 5%;
    box-sizing: border-box;
    color: #EA2E49;
    display: inline-block;
    vertical-align: top;
}

div.column ul {
    list-style: none;
}

div.column ul li {
    margin-top: 10px;
    font-size: 15px;
}

div.column ul li a {
    color: white;
}

div.column ul li a:hover {
    background-color: #EA2E49;
    color: white;
}

footer p {
    border-top: 1px solid grey;
    padding-top: 25px;
    margin: 25px 0 0 0;
    font-size: 15px;
    text-align: right;
    color: white;
}
