/*
magentarood = #EA2E49;
lichtblauw = #77C4D3;
donkerblauw = #333745;

TODO: alle stijlbladen voor specifieke pagina's in een apart stijlblad doen
*/

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased; /* All fonts get antialiased */
    -moz-osx-font-smoothing: grayscale; /* Also for Firefox */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: white;
}

/* responsive text*/
@media screen and (max-width: 720px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }
}

/* Text and articles */
p {
    color: #333745;
    font-size: 1.44em;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
    margin-bottom: 50px;
    margin-top: 50px;
}

article {
    box-sizing: border-box;
    width: 70%;
    margin: 0 15% 60px;
    text-align: center;
}

article header {
    text-shadow: none;
}

/* Blue text for highlighting */
span.lightblue {
    color: #77C4D3;
}

/* Headers */
h1, h2, h3, h4, h5 {
    font-family: 'Amaranth', sans-serif;
    margin-top: 60px;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    margin: 25px 20px;
    color: white;
}

h2 {
    font-size: 3.125em;
    line-height: 1em;
    color: #77C4D3;
}

h3 {
    font-size: 2.5em;
    line-height: 1.25em;
    color: #EA2E49;
}

h4 {
    font-size: 1.375em;
    line-height: 1.125em;
    color: grey;
    margin-top: 20px;
}

h5 {
    font-size: 1.2em;
    color: grey;
    line-height: 1.125em;
}

/* navbar */
nav {
    text-shadow: 0 1px 2px #2f2f2f;
}

nav ul {
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #333745;
    list-style-type: none;
    z-index: 1;
}

nav ul li {
    float: left;
}

/* first nav item is moved to the center */
.firstitem {
    margin-left: 9%;
}

nav ul li a {
    display: block;
    color: #77C4D3;
    padding: 22px 25px;
    font-size: 18px;
}

nav ul li a.hoverable:hover, nav li a.active {
    background-color: #EA2E49;
    color: white;

}

/* logo in navbar */
li.navlogo, .alogo {
    float: right;
    margin-right: 9%;
    padding: 0;
    margin-top: 7px;
}

/* navbar dropdown menu */
/* display none at first */
nav ul ul {
    display: none;
    position: absolute;
    background-color: transparent;
}

/* reveals ul child on hover */
nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 180px;
    float: none;
    position: relative;
    background-color: #333745;
    display: list-item;
}

nav ul li ul li a.hoverable {
    color: #77C4D3;
    font-size: 15px;
    text-align: left;
}

/* navbar responsive */
@media screen and (max-width: 960px) {
    nav ul li.firstitem, nav ul li:nth-child(5) {
        margin: 0;
    }

    nav ul li a {
        padding: 22px 10px;
    }
}

/* navbar becomes vertical at width 720px */
@media screen and (max-width: 720px) {
    nav ul {
        height: 52px;
        width: 100%;
    }

    /* nav items are only visible on hover (onclick not possible without JS?) */
    nav ul li:hover > ul, nav ul li {
        display: none;
        float: none;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
        padding: 12px 0;
    }

    nav ul:hover > li {
        display: block
    }

    nav ul:hover .navlogo {
        display: none;
    }

    nav:hover > ul {
        height: auto;
    }

    nav li.navlogo, a.alogo {
        display: block;
        margin: 0;
        width: 100%;
        float: left;
    }

    nav li.navlogo img {
        float: left;
        margin-left: 20px;
        margin-top: 4px;
    }

    /* Menu icon and Menu text becomes visible */
    .alogo:after {
        margin: 15px 15px 0 0;
        float: right;
        vertical-align: center;
        content: "Menu";
        font-size: 16px;
    }

    .alogo:before {
        content: "";
        background: url(../images/icons/menu.png) no-repeat;
        width: 42px;
        height: 42px;
        float: right;
        margin: 9px 20px 0 0;
    }
}

/* main logos and banners */
/* banner on the homepage */
.indexbackgroundimage {
    background: url(../images/photos/party.jpg) no-repeat fixed center center;
    background-size: cover;
    min-height: 600px;
    height: 85vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
    transition-duration: 1s;
}

/* banner on the info page */
.infobanner {
    background: url(../images/photos/woman.jpg) no-repeat fixed center center;
    background-size: cover;
    min-height: 300px;
    height: 20vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}

/* text inside the banners */
/* all text in the header is aligned center and has a shadow */
header {
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 1px 2px #2f2f2f;
}

/* logo on the index page */
.logo img {
    width: 20%;
    height: auto;
    margin: 50px 0 0 0;
}

p.subintro {
    color: white;
    font-size: 1.875em;
    font-weight: normal;
    text-align: center;
    margin: 25px 10%;
}

/* links */
a:link, a:visited, a:hover, a:active {
    color: #77C4D3;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #EA2E49;
}

/* buttons */
.button {
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 50px 20px;
    border-radius: 10px;
    white-space: nowrap;
    line-height: 60px;
}

header a.button1:link, header a.button1:visited {
    color: white;
    background-color: #EA2E49;
}

header a.button2:link, header a.button2:visited {
    background-color: #77C4D3;
    color: white;
    text-shadow: 0 1px 1px #4b4b4b;
}

header a.button2:hover, header a.button1:hover {
    background-color: #333745;
}

/* footer */
footer {
    background-color: #333745;
    padding: 60px 120px;
    height: auto;
    font-weight: 300;
    border-top: 40px solid #77C4D3;
}

footer h4 {
    text-align: left;
    color: #EA2E49;
    padding-top: 0.6em;
}

footer section.column {
    width: 30%;
    min-width: 200px;
    padding-right: 5%;
    box-sizing: border-box;
    color: #EA2E49;
    display: inline-block;
    vertical-align: top;
}

section.column ul {
    list-style: none;
}

section.column ul li {
    margin-top: 0.625em;
    font-size: 1em;
}

section.column ul li a {
    color: white;
}

section.column ul li a:hover {
    background-color: #EA2E49;
    color: white;
}

footer p {
    border-top: 1px solid grey;
    padding-top: 1.5em;
    margin: 1.5em 0 0 0;
    font-size: 1em;
    text-align: right;
    color: white;
}
