html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin: 0;

}

/* Standard paragraph */
p {
    color: #333745;
    font-size: 23px;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
    margin-left: 120px;
    margin-right: 120px;

}

h1 {
    margin-left: 120px;
    margin-right: 120px;
}

/* banner and text inside the banner */
.banner {
    filter: brightness(65%);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;

}

header h1, header p {
    position: absolute;
    font-size: 140px;
    text-shadow: 0px 1px 2px #2f2f2f;
    color: white;
}

header h1.intro {
    top: 80px;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
}

header p.slogan {
    top: 280px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

/* navbar */
.logo, .alogo {
    float: right;
    padding: 0px;
    margin-top: 3px;
    background-color: none;

}

nav ul {
    height: 68px;
    list-style-type: none;
    margin: 0;
    background-color: #333745;
    padding-right: 180px;
    padding-left: 120px;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #77C4D3;
    padding: 22px 25px;
    font-size: 18px;
}

nav li a:hover {
    background-color: #EA2E49;
    color: #DAEDE2;
}

/* links */
a:link, a:visited, a:hover, a:active {
    color: #77C4D3;
    text-decoration: none;
}