/* banner on the tickets page */
.ticketsbanner {
    background: url(../images/photos/colorfestival.jpg) no-repeat fixed center bottom;
    background-size: cover;
    min-height: 100%;
    height: 85vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}

/* Form on ticket page*/
section.buytickets {
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 350px;
    margin: -500px auto 60px;
    background: rgba(255, 255, 255, .9);
}

form {
    margin: 60px 5%;
}

form ul li {
    list-style-type: none;
    padding-top: 10px;
}

form ul li.inline {
    display: inline-block;
    width: 49%;
}

form ul li label {
    display: block;

}

form ul li input, form ul li select {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.ticketbutton {
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    border: 1px solid lightgray;
    background-color: #EA2E49;
    color: white;
    padding: auto 0;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

form ul li label {
    width: auto;
}