$color: #a2231d;

a {
  display: inline-block;
  text-decoration: none;
}

#navbar {
  background: $color;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
  a {
    color: invert($color);
  }
}

.sr-only {
  display: none;
}

.icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 2px;
  background: slategray;
}