body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

header {
    font-size: 2.5rem;
}
figure, figcaption {
    border: solid gray;
}

figure {
    display: inline-block;
    margin: 0 4px;
}

figure img {
    vertical-align: top;
}