@model CM_UI_MVC.Models.ViewModels.SubscriptionConfirmationViewModel
@{
    ViewBag.Title = "SubscriptionConfirmation";
}
<h2>Bevestiging van inschrijving</h2>
Proficiat, @Model.StudentName! U bent ingeschreven voor de ongetwijfelde boeiende
cursus @Model.CourseName!
<br/>Je inschrijving is correct geregistreerd op @Model.SubscriptionDate.ToString()